* {
    background-color: rgb(100, 100, 100);
}

.contenedor-calculadora {
    width: 300px;
    height: 500px;
    border: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 20px;
    background-color:aliceblue;
    flex-direction: column;
    gap: 20px;
    border-radius: 5%;
}

.fila-botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: aliceblue;
}

.display input{
    font-size: large;
    height: 100px;
    width: 240px;
    background-color: rgb(218, 218, 218);
    border: none;
    text-align: end;
    color: rgb(0, 0, 0);
}

.boton {
    border: none;
    border-radius: 5%;
    box-shadow: 1px 1px 1px rgb(167, 167, 167);
    width: 60px;
    height: 60px;
    color: rgb(128, 130, 133);
    background-color: rgb(245, 245, 245);
    font-size: large;
}

.boton:hover {
    background-color: rgb(233, 235, 236);
}
